/*
    System   : christianwestbrook.dev
    File     : index.css
    Engineer : Christian Westbrook
    Abstract : This file provides styling for index.html.
*/
body {
    background-color: #252525;
    color: #BBBBBB;
}

a {
    color: #BBBBBB;
    text-decoration: none;
}

pre {
    margin: 0 auto;
    text-align: center;
}