/*
    System   : christianwestbrook.dev
    File     : index.css
    Engineer : Christian Westbrook
    Abstract : This file provides styling for index.html.
*/

// Constants
$background-color: #252525;
$content-color: #BBBBBB;
$font-family: Cambria, sans-serif;

// General styles
body {
    background-color: $background-color;
    color: $content-color;
    font-family: $font-family;
}

a {
    color: $content-color;
    text-decoration: none;
}

// Header styles
header pre {
    margin: 0 auto;
    text-align: center;
}

// Content styles
#content {
    display: flex;
    justify-content: center;
}

#content p {
    font-size: 24px;
}