/*
    System   : christianwestbrook.dev
    File     : index.css
    Engineer : Christian Westbrook
    Abstract : This file provides styling for index.html.
*/

// Constants
$background-color: #252525;
$content-color: #BBBBBB;

body {
    background-color: $background-color;
    color: $content-color;
}

a {
    color: $content-color;
    text-decoration: none;
}

header pre {
    margin: 0 auto;
    text-align: center;
}